<div class="card">
  <div class="card-body">

    <div class="jumbotron jumbotron-fluid p-2">
      <div class="container">

        <div class="row">
          <h6 class="display-5 col-11">Máscara para números: telefone, cpf, cep</h6>
          <div class="col-1 p-0">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg">
          </div>
        </div>

        <p class="lead">
          Esse é um projeto para demonstração de Custom PhonePipe, NumberMaskPipe, diretiva OnlyNumbers
          e funções auxiliares para campos de input de números e exibição de dados.
        </p>

        <hr>

        <div class="row">
          <div class="col-md-8">Assinalados com (*) apresentaram melhor comportamento.</div>
          <p class="text-right col-md-4">Developer:&nbsp;
            <a href="https://kamilaserpa.github.io" target="_blank">Kamila Serpa</a>
          </p>
        </div>

      </div>
    </div>

    <router-outlet></router-outlet>

  </div>

  <footer>
    <div class="container py-3">
      <div class="row">

        <div class="col-6 col-md">
          <h5><b>Repositório</b></h5>
          <a class="float-left text-white" href="https://github.com/kamilaserpa/mask-app-angular"
            target="_blank">GitHub</a>
        </div>

        <div class="col-6 col-md m-auto">
          <a class="btn btn-info" href="https://www.linkedin.com/in/kamila-serpa" role="button" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>

      </div>
    </div>
  </footer>


</div>