<div class="card">
  <div class="card-body">

    <div class="jumbotron jumbotron-fluid p-2">
      <div class="container">
        <h6 class="display-5">Máscara para números: telefone, cpf, cep</h6>
        <p class="lead">
          Esse é um projeto para demonstração de Custom PhonePipe, NumberMaskPipe, diretiva OnlyNumbers
          e funções auxiliares para campos de input de números e exibição de dados.
        </p>
        <hr>
        <div class="row">
          <div class="col-md-8">Assinalados com (*) apresentaram melhor comportamento.</div>
          <p class="text-right col-md-4">Developer:
            <a href="https://kamilaserpa.github.io" target="_blank">Kamila Serpa</a>
          </p>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>